<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新增界面</title>
</head>
<body>
    <% arr.forEach(i=>{%>
    <form action="/table/add2/<%=i.id%>" method="POST">
        <input type="text" name="name"  placeholder="用户名" value="<%=i.name %>" />
        <br/>
        <input type="number" name="pass" placeholder="密码" value="<%=i.pass %>" />
        <br/>
        <input type="submit"/>
    </form>
    <% }) %>
</body>
</html>