<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <!-- styles -->
  <link rel="stylesheet" href="stylesheets/css/fancybox/jquery.fancybox.css">
  <link href="stylesheets/css/bootstrap.css" rel="stylesheet" />
  <link href="stylesheets/css/bootstrap-theme.css" rel="stylesheet" />
  <link rel="stylesheet" href="stylesheets/css/slippry.css">
  <link href="stylesheets/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="stylesheets/default.css">

  <script src="javascripts/js/modernizr.custom.js"></script>
</head>

<body>
  <header>

    <div id="navigation" class="navbar navbar-inverse navbar-fixed-top default" role="navigation">
      <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"></a>
        </div>

        <div class="navigation">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <nav>
              <ul class="nav navbar-nav navbar-right">
                <li class="current"><a href="#intro">家</a></li>
                <li><a href="#about">关于</a></li>
                <li><a href="#works">作品</a></li>
                <li><a href="#contact">接触</a></li>
              </ul>
              <!-- <a class="b" href="/login" target="_self">返回登录</a> -->
            </nav>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <a href="/login" target="_self">返回登录</a>
      </div>
    </div>

  </header>
  <!-- section intro -->
  <section id="intro">
    <ul id="slippry-slider">
      <li>
        <a href="#slide1"><img src="img/slide/1.jpg" alt="欢迎来到 !"></a>
      </li>
      <li>
        <a href="#slide2"><img src="img/slide/2.jpg" alt="哇哦，你的作品，你的爱"></a>
      </li>
      <li>
        <a href="#slide3"><img src="img/slide/3.jpg" alt="检查一下, 您将要 <span class='red'>♥</span> 他 :)"></a>
      </li>
    </ul>
  </section>
  <!-- end intro -->
  <!-- Section about -->
  <section id="about" class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="heading">
            <h3><span>关于我们</span></h3>
          </div>
          <div class="sub-heading">
            <p>
              围绕我们合作品牌的信念创建一种视觉语言.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="team-box">
            <img src="img/dummies/team1.jpg" alt="" class="img-responsive" />
            <div class="roles">
              <h5><strong>小宝贝管家</strong></h5>
              <p>
                首席执行官-创始人
              </p>
              <ul class="social-profile">
                <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble fa-lg"></i></a></li>
              </ul>
            </div
          </div>
        </div>
        <div class="col-md-3">
          <div class="team-box">
            <img src="img/dummies/team2.jpg" alt="" class="img-responsive" />
            <div class="roles">
              <h5><strong>汤米·克鲁尼切夫</strong></h5>
              <p>
                首席设计师
              </p>
              <ul class="social-profile">
                <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble fa-lg"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="team-box">
            <img src="img/dummies/team3.jpg" alt="" class="img-responsive" />
            <div class="roles">
              <h5><strong>莫里埃拉·麦奇尼</strong></h5>
              <p>
                客户支持
              </p>
              <ul class="social-profile">
                <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble fa-lg"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="team-box">
            <img src="img/dummies/team4.jpg" alt="" class="img-responsive" />
            <div class="roles">
              <h5><strong>布赖恩·詹姆斯·斯科蒂</strong></h5>
              <p>
                咖啡机
              </p>
              <ul class="social-profile">
                <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble fa-lg"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end section about -->
  <!-- section works -->
  <section id="works" class="section gray">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="heading">
            <h3><span>最近的作品</span></h3>
          </div>
          <div class="sub-heading">
            <p>
              我们有做自己的名字所暗示的历史，围绕着我们所合作品牌的信念创造了一种视觉语言.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="grid effect" id="grid">
            <li>
              <a class="fancybox" data-fancybox-group="gallery" title="Portfolio name" href="img/portfolio/1.jpg">
                <img src="img/portfolio/1.jpg" alt="" />
              </a>
            </li>
            <li><a href="img/portfolio/2.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img
                  src="img/portfolio/2.jpg" alt="" /></a></li>
            <li><a href="img/portfolio/3.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img
                  src="img/portfolio/3.jpg" alt="" /></a></li>
            <li><a href="img/portfolio/4.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img
                  src="img/portfolio/4.jpg" alt="" /></a></li>
            <li><a href="img/portfolio/5.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img
                  src="img/portfolio/5.jpg" alt="" /></a></li>
            <li><a href="img/portfolio/6.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img
                  src="img/portfolio/6.jpg" alt="" /></a></li>
            <li><a href="img/portfolio/7.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img
                  src="img/portfolio/7.jpg" alt="" /></a></li>
            <li><a href="img/portfolio/8.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img
                  src="img/portfolio/8.jpg" alt="" /></a></li>
            <li><a href="img/portfolio/9.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img
                  src="img/portfolio/9.jpg" alt="" /></a></li>
            <li><a href="img/portfolio/10.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img
                  src="img/portfolio/10.jpg" alt="" /></a></li>
            <li><a href="img/portfolio/11.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img
                  src="img/portfolio/11.jpg" alt="" /></a></li>
            <li><a href="img/portfolio/12.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img
                  src="img/portfolio/12.jpg" alt="" /></a></li>
            <li><a href="img/portfolio/13.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img
                  src="img/portfolio/13.jpg" alt="" /></a></li>
            <li><a href="img/portfolio/14.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img
                  src="img/portfolio/14.jpg" alt="" /></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- section works -->
  <!-- section contact -->
  <section id="contact" class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="heading">
            <h3><span>取得联系</span></h3>
          </div>
          <div class="sub-heading">
            <p>
              每人每一个.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4><i class="icon-envelope"></i><strong>联系表</strong></h4>
          <p>
            想和我们一起工作还是想打个招呼？不要犹豫，取得联系！
          </p>
          <!-- start contact form -->
          <div class="cform" id="contact-form">


            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="你的名字" data-rule="minlen:4"
                  data-msg="请输入至少4个字符" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="你的邮寄" data-rule="email"
                  data-msg="请输入有效电子邮件" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="主题" data-rule="minlen:4"
                  data-msg="请输入至少8个字符" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="请给我们写点东西"
                  placeholder="信息"></textarea>
                <div class="validation"></div>
              </div>

              <div class="text-center"><button type="submit" class="btn btn-lg btn-theme">发信息</button></div>
            </form>
          </div>
          <!-- END contact form -->
        </div>
        <div class="col-md-6">
          <h4>找到我们的位置</h4>
          <p>从谷歌地图查看</p>
          <!-- map -->
          
        </div>
      </div>
    </div>
  </section>
  <!-- end section contact -->
  <footer>
    <div class="verybottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="aligncenter">
              <ul class="social-network social-circle">
                <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="aligncenter">
              <p>Copyright &copy; 2020.Company name All rights reserved.</p>
              <div class="credits"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <a href="#" class="scrollup"><i class="fa fa-angle-up fa-2x"></i></a>
  <!-- javascript -->
  <script src="javascripts/js/jquery-1.9.1.min.js"></script>
  <script src="javascripts/js/jquery.easing.js"></script>
  <script src="javascripts/js/classie.js"></script>
  <script src="javascripts/js/bootstrap.js"></script>
  <script src="javascripts/js/slippry.min.js"></script>
  <script src="javascripts/js/nagging-menu.js"></script>
  <script src="javascripts/js/jquery.nav.js"></script>
  <script src="javascripts/js/jquery.scrollTo.js"></script>
  <script src="javascripts/js/jquery.fancybox.pack.js"></script>
  <script src="javascripts/js/jquery.fancybox-media.js"></script>
  <script src="javascripts/js/masonry.pkgd.min.js"></script>
  <script src="javascripts/js/imagesloaded.js"></script>
  <script src="javascripts/js/jquery.nicescroll.min.js"></script>
  <script src="javascripts/js/AnimOnScroll.js"></script>
  <script>
    new AnimOnScroll(document.getElementById('grid'), {
      minDuration: 0.4,
      maxDuration: 0.7,
      viewportFactor: 0.2
    });
  </script>
  <script>
    $(document).ready(function () {
      $('#slippry-slider').slippry(
        defaults = {
          transition: 'vertical',
          useCSS: true,
          speed: 5000,
          pause: 3000,
          initSingle: false,
          auto: true,
          preload: 'visible',
          pager: false,
        }
      )
    });
  </script>

  <script src="javascripts/js/custom.js"></script>
  <script src="javascripts/contactform.js"></script>

<style>
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
</style>
<div class="copyrights" id="links20210126">
	Collect from <a href="http://www.cssmoban.com/"  title="网站模板">模板之家</a>
	<a href="http://cooco.net.cn/" title="组卷网">组卷网</a>
</div>
</body>
</html>
